$white: white;
$buttonTxtColor: hsl(356, 100%, 66%);
$buttonHoverColor: hsl(355, 100%, 74%);

$footerBGColor: hsl(240, 10%, 16%);
$footerTxtColor: hsl(240, 2%, 79%);

$headingColor: hsl(208, 49%, 24%);
$bodyColor: hsl(207, 13%, 34%);

$transitionDuration: 0.5s;

$desktopQuery: "min-width: 769px";
$mobileQuery: "max-width: 768px";
