$mobileQuery: "max-width:425px";
$tabletQuery: "max-width:768px";
$desktopQuery: "min-width:769px";

$darkGray: hsl(0, 0%, 48%);
$lighterCyan: #6daaa3;
$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
$lightGray: lightgray;
$lighterGray: rgb(235, 235, 235);
