.popUpOverlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;

    & + .popUp {
      visibility: visible;
      opacity: 1;
    }
  }

  & + .popUp {
    position: absolute;
    top: 130vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
